* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../../images/hello.jpg);
    position: relative;
}
.bg-light{
    background: rgba(229, 218, 218, 0.986) !important;
    color: black;
}

#header{
    background: white;
}

#header .container form .input-group #search,
#task{
    border: none;
    box-shadow: none;
    outline: none;
}

::placeholder{
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.fixed-bottom .container form{
    background: white;
}
